@use '../colors';

$bar-color: colors.$support;
$bar-active-color: colors.$primary;

$gap: 20px;

.prop-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: -$gap;
  margin-bottom: -$gap;
  // gap: $gap;

  &__item {
    margin-right: $gap;
    margin-bottom: $gap;
  }

  &__value {
    display: flex;
    margin: 0;
    margin-bottom: 6px;
  }

  &__bar {
    width: 17px;
    height: 3px;
    background-color: $bar-color;
    border-radius: 2px;

    &--active {
      background-color: $bar-active-color;
    }

    &:not(:last-child) {
      margin-right: 3px;
    }
  }

  &__label {
  }
}
