@use 'sass:list';
@use '../colors';

$text-color: colors.$text-contrast;
$colors: ('green', 'orange', 'blue');

$edge-space: 10px;

.tag {
  position: relative;
  padding: 5px $edge-space;
  padding-right: $edge-space;
  background-color: colors.$primary;
  color: $text-color;

  &::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: $edge-space;
    height: 100%;
    background-position: 100%;
    clip-path: polygon(100% 0, 0 50%, 100% 100%, 0 100%, 0 0);
  }

  @each $color in $colors {
    
    &--#{$color} {
      background-image: colors.gradient($color, 90deg);

      &::after {
        background-color: colors.get-gradient-color($color, 'end');
      }
    }
  }
}
