$green: #45cd91;
$dark-green: #00a75d;
$light-green: #b3e5ce;

$blue: #4659ff;
$light-blue: #757aff;

$orange: #ff9446;
$light-orange: #ffb077;

$red: #bb1600;

$black: #101010;
$white: #ffffff;
$dark-white: #e5e5e5;
