@use 'sass:map';
@use 'sass:list';
@use 'base-colors' as *;

$primary: $dark-green;
$support: $light-green;
$text: $black;
$text-light: rgba($black, 0.5);
$text-contrast: $white;
$background: $white;
$disabled: $gray;
$dark: $black;

$gradient-colors: (
  'green':  ($dark-green, $green),
  'orange': ($orange, $light-orange),
  'blue':   ($blue, $light-blue),
);

@function get-gradient-color($color, $position: 'start') {
  $index: 1;

  @if ($position == 'end') {
    $index: 2;
  } @else {
    // check if position is valid
    @if ($position != 'start') {
      @error 'Invalid position';
    }
  }

  $colors: map.get($gradient-colors, $color);

  @return list.nth($colors, $index);
}

@function gradient($color, $degree: 0deg, $stop-1: 0%, $stop-2: 100%) {
  @if (map.has-key($gradient-colors, $color) == false) {
    @error 'Can\'t create gradient for color #{$color}';
  }
  
  $color-1: get-gradient-color($color, 'start');
  $color-2: get-gradient-color($color, 'end');

  @return linear-gradient($degree, $color-1 $stop-1, $color-2 $stop-2);
}
