*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
